@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrapper {
  padding: 24px 0 64px;
  margin: 0 auto;

  &.wrapperFilled {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;

    width: fit-content;
  }

  @include onTablet {
    margin: 0;
  }

  @include onDesktop {
    padding-bottom: 80px;
    
    &.wrapperFilled {
      justify-self: start;
    }
  }
}
.breadCrumbs {
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 40px;
  }
}

.title {
  margin-bottom: 8px;

  grid-column: 1/-1;

  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -1%;

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.counter_text {
  margin-bottom: 32px;

  color: $secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
