@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.picture {
  display: block;
  width: 148px;
  height: 129px;
  margin: auto;

  object-fit: contain;

  transition: transform $effectDuration ease;

  @include onTablet {
    height: 173px;
  }

  @include onDesktop {
    width: 208px;
    height: 196px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
