@import '../../assets/styles/variables';

.wrapper {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $elements;
  border-radius: 36px;

  transition: border-color $effectDuration;

  &:hover {
    border-color: $icons;

    [theme-mode='dark'] & {
      border-color: $white-dm;
    }
  }

  [theme-mode='dark'] & {
    border-color: $primary;
  }
}

.button {
  width: 30px;
  height: 30px;

  border: 2px solid $white;
  border-radius: 36px;

  cursor: pointer;

  [theme-mode='dark'] & {
    border-color: $secondary-dm;
  }
}

.selected {
  border: 1px solid $primary;

  [theme-mode='dark'] & {
    border-color: $white-dm;
  }
}
