@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 21px;

  color: $white;
  background-color: $accent;

  transition: box-shadow $effectDuration;

  &:hover {
    box-shadow: 0px 3px 13px 0px $shadow;
  }

  &:active {
    border: 1px solid $elements;

    color: $accent;
    background-color: $white;
  }
}

.buttonCart {
  width: 100px;
  height: 40px;
}

.buttonCheckout {
  width: 320px;
  height: 48px;
}

.buttonItemCart {
  width: 263px;
  height: 48px;
}

.buttonHome {
  width: 160px;
  height: 50px;

  @include onTablet {
    width: 200px;
    height: 60px;
  }
}
