@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.flagButton {
  width: 48px;
  height: 48px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  

  transition: transform 0.3s;

  box-sizing: border-box;

  &:hover {
    [theme-mode='dark'] & {
      background-color: $links-active;
    }
  }

  @include onDesktop {
    width: 64px;
    height: 64px;
  }
}

.flag {
  transition: transform 0.3s ease;
  width: 28px;
  height: 28px;

  &:hover {
    transform: scale(1.1);
  }
}
