@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.wrapper {
  position: relative;
  margin-bottom: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include onTablet {
    column-gap: 20px;
  }

  @include onDesktop {
    column-gap: 16px;
  }
}

.slider {
  width: 320px;
  height: 320px;

  @include onTablet {
    width: 490px;
    height: 190px;
  }

  @include onDesktop {
    width: 1040px;
    height: 400px;
  }
}

.slide {
  width: 100%;
  height: 100%;

  border-radius: 8px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.video {
  width: 100%;

  border-radius: 8px;

  object-fit: cover;
}

.firstSlide {
  @include onTablet {
    background-image: url(/src/assets/images/banners/iphone-14-pro-banner.png);
  }
}

.secondSlide {
  @include onTablet {
    background-image: url(/src/assets/images/banners/apple-watch-banner.png);
  }
}

.thirdSlide {
  @include onTablet {
    background-image: url(/src/assets/images/banners/ipad-banner.png);
  }
}

:global(.swiper) {
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 4px;
}

:global(.swiper-pagination-bullet) {
  width: 24px;
  height: 24px;

  padding: 10px 5px;

  border-radius: 0;

  background-color: $primary;
  background-clip: content-box;

  cursor: pointer;
}

:global(.swiper-pagination-bullet-active) {
  background-color: $primary;
}
