@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.button {
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  border-radius: 48px;
  border: 1px solid;

  background-color: $slider;

  transition:
    background-color $effectDuration,
    border-color $effectDuration;

  &:hover {
    border-color: $links-active;

    background-color: $links-active;
  }

  @include onDesktop {
    width: 200px;
    height: 60px;

    font-size: 14px;
    font-weight: 500;
  }
}

.dark {
  color: $primary;
  border-color: $primary;
}

.light {
  color: $white;
  border-color: $secondary;
}
