@import '/src/assets/styles/variables';
@import '../../assets/styles/mixins';

.container {
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  // that needs for centering on iPhones
  margin: 0 auto;

  padding-top: 24px;
  max-width: 287px;
  margin: 0 auto;

  @include onTablet {
    max-width: 592px;
  }

  @include onTabletWide {
    max-width: 719px;
  }

  @include onDesktop {
    max-width: 1200px;
  }
}

.breadCrumbs {
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 40px;
  }
}

.title {
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.counter_text {
  margin-bottom: 32px;
  color: $secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.dropdowns {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  width: fit-content;
}

.sort_by_text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 15.34px;
  color: $secondary;
}

.pageSearchBar {
  display: block;
  position: relative;

  @include onTabletWide {
    display: none;
  }
}

.pageSearchBarField {
  display: block;
  border: 1px solid #b4bdc3;
  border-radius: 10px;
  padding-inline: 5px;
  width: 100%;
  height: 40px;
  background-color: white;
  padding-left: 12px;
  margin-bottom: 24px;
  color: hsl(0, 0%, 50%);
}

.queryField__clearButton {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 1rem;
  cursor: pointer;
  padding: 3px 5px;
  color: grey;
}

.device_list {
  display: grid;
  gap: 40px 16px;

  justify-items: center;

  justify-self: center;
  margin: 0 auto;

  grid-template-columns: repeat(1, 1fr);

  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include onTabletWide {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pageSearchBarContainer {
  position: relative;

  @include onTabletWide {
    display: none;
  }
}

.queryField {
  border: 1px solid $elements;
  border-radius: 10px;
  padding-inline: 5px;
  opacity: 0;
  width: 0;
  transition:
    width 0.3s ease,
    opacity 0.3s ease;

  &__clearButton {
    position: absolute;
    top: 7px;
    right: 5px;
    font-size: 1rem;
    cursor: pointer;
    padding: 3px 5px;
    color: grey;
  }

  &__list__off {
    display: none;
  }

  &__list {
    position: absolute;
    top: 50px;

    width: 100%;
    z-index: 2;
    background-color: white;
    border: 1px solid $elements;
    border-radius: 8px;
    max-height: 250px;
    overflow-y: auto;

    @include onTablet {
      width: 70%;
      left: 15%;
    }

    &__element {
      margin-bottom: 10px;
      font-size: 10px;
      display: flex;
      padding-left: 27px;
      text-align: center;
      align-items: center;

      transition-duration: 0.5s;

      @include onTablet {
        padding-left: 50px;
      }

      &:first-child {
        margin-top: 7px;
      }

      &:last-child {
        margin-bottom: 7px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.06);
      }

      &__empty {
        margin-bottom: 5px;
        font-size: small;
        padding: 8px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          cursor: default;
        }
      }
    }
  }
}

.queryField.visible {
  display: none;
  opacity: 1;

  @include onTabletWide {
    display: block;
    width: 150px;
  }

  @include onDesktop {
    width: 200px;
  }
}
