@import '../../assets/styles/variables';

.email_auth_form {
  input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1.1rem;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #f86800;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    button {
      font-weight: 800;
    }
  }
}
