@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.button {
  display: none;

  border: 1px solid $icons;
  border-radius: 48px;

  background-color: transparent;

  cursor: pointer;

  transition: border-color $effectDuration;

  &:hover {
    border-color: $primary;
  }

  @include onTablet {
    width: 32px;
    height: calc(100vw * (190 / 640));

    display: block;
  }

  @include onDesktop {
    height: 400px;
  }

  [theme-mode='dark'] & {
    background-color: $secondary-dm;
    border-color: $primary;
  }
}
