@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrapper {
  padding: 24px 0 56px;

  @include pageGrid;

  @include onTablet {
    padding: 40px 0 64px;
  }

  @include onDesktop {
    padding-bottom: 80px;
  }
}

.backButton {
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 16px;
  }
}

.title {
  margin-bottom: 32px;

  grid-column: 1/-1;

  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -1%;

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.cardList {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  grid-column: 1/-1;

  @include onDesktop {
    grid-column: 1/17;
  }
}

.card {
  min-width: 288px;
  height: 160px;
  background-color: green;
}

.checkout {
  position: sticky;
  top: 20px;

  height: 190px;

  grid-column: 1/-1;

  border: 1px solid $elements;
  border-radius: 16px;

  text-align: center;

  @include onDesktop {
    height: 206px;

    grid-column: 17/-1;
  }

  &Top {
    padding: 24px 24px 16px;

    border-bottom: 1px solid $elements;

    @include onDesktop {
      padding-bottom: 24px;
    }

    [theme-mode='dark'] & {
      border-color: $secondary-dm;
    }
  }

  [theme-mode='dark'] & {
    border-color: $secondary-dm;
  }
}

.totalCost {
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -1%;

  color: $primary;

  [theme-mode='dark'] & {
    color: $white-dm;
  }
}

.itemsCount {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

  color: $secondary;
}

.buttonCheckout {
  padding: 16px 24px 24px;

  @include onDesktop {
    padding-top: 24px;
  }
}
