@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/animations';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 16px;

  border-bottom: 1px solid $elements;

  @include onDesktop {
    height: 64px;
    padding-left: 24px;
  }
}

.navContainer {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 36px;
  transition: transform $effectDuration ease;

  @include onDesktop {
    margin-right: 48px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.logoImage {
  display: flex;
  align-items: center;

  width: 64px;
  height: 22px;

  @include onDesktop {
    width: 80px;
    height: 28px;
  }
}

.iconLinksContainer {
  display: flex;
  height: 100%;
}

.iconLink {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 100%;
  border-left: 1px solid $elements;

  @include onDesktop {
    width: 64px;
  }
}

.favorites,
.shoppingBag {
  position: relative;

  display: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;

  transition: background-color $effectDuration;

  &:hover {
    background-color: $elements;
  }

  &.isActive {
    position: relative;
    color: $primary;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      content: '';

      height: 3px;
      width: 100%;

      background-color: $primary;

      animation: line-grow 0.3s ease-in-out forwards;
    }
  }

  @include onTablet {
    display: block;
  }
}

.burgerMenu {
  display: inline-block;
  width: 48px;
  height: 100%;
  box-shadow: -1px 0 0 0 $elements;
  display: block;
  background-image: url(/src/assets/images/icons/burger-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @include onTablet {
    display: none;
  }
}

.burgerMenuActive {
  display: inline-block;
  width: 48px;
  height: 100%;
  box-shadow: -1px 0 0 0 $elements;
  display: block;
  background-image: url(/src/assets/images/icons/close-burger-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @include onTablet {
    display: none;
  }
}

.favorites {
  background-image: url(/src/assets/images/icons/favorites-blank.svg);
}

.shoppingBag {
  background-image: url(/src/assets/images/icons/shopping-bag-blank.svg);
}

.indicator {
  position: absolute;

  @include onTablet {
    top: 20%;
    left: 49%;
  }

  @include onDesktop {
    top: 28%;
  }
}