@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.about {
  display: block;
  width: 287px;

  @include onTablet {
    width: 592px;
  }

  @include onDesktop {
    width: 560px;
  }
}

.title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 22px;
  line-height: 30.8px;
  color: #0F0F11;
}

.line {
  margin-bottom: 32px;
  border: 1px solid $elements;
}

.sections {
  margin-bottom: 32px;
}

.section_title {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 20px;
  line-height: 25.56px;
  color: #0F0F11;
}

.section_text {
  font-weight: 100;
  font-size: 14px;
  line-height: 21px;
  color: #89939A;
}
