@import '../../assets/styles/variables';

.wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.pageBlock {
  display: flex;
  align-items: center;
  column-gap: 8px;

  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

.homeIcon {
  position: relative;
  bottom: 1px;
  vertical-align: middle;
}

.arrowIcon {
  width: 16px;
  height: 16px;

  background-image: url(/src/assets/images/icons/arrow-right-light.svg);
  background-repeat: no-repeat;
}

.currentPage {
  font-weight: 500;

  color: $secondary;
}
