@import '../../assets/styles/variables';

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: solid 1px $icons;

  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: border-color $effectDuration;

  &:hover {
    border-color: $primary;

    [theme-mode='dark'] & {
      border-color: $elements-dm;
    }
  }

  [theme-mode='dark'] & {
    border-color: $secondary-dm;
    background-color: transparent;
  }
}

.arrow-top {
  background-image: url(/src/assets/images/icons/arrow-top.svg);

  [theme-mode='dark'] & {
    background-image: url(/src/assets/images/icons/dark-mode/arrow-top.svg);
  }
}

.arrow-left {
  background-image: url(/src/assets/images/icons/arrow-left.svg);

  [theme-mode='dark'] & {
    background-image: url(/src/assets/images/icons/dark-mode/arrow-left.svg);
  }
}

.arrow-rigth {
  background-image: url(/src/assets/images/icons/arrow-right.svg);

  [theme-mode='dark'] & {
    background-image: url(/src/assets/images/icons/dark-mode/arrow-right.svg);
  }
}
