@import '../../assets/styles/variables';

.button {
  padding: 4px 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $icons;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-wrap-mode: nowrap;

  color: $primary;
  background-color: $white;

transition: border-color $effectDuration;

  &:hover {
    border-color: $primary;

    [theme-mode='dark'] & {
      border-color: $elements-dm;
    }
  }

  [theme-mode='dark'] & {
    border-color: $secondary-dm;
    color: $white-dm;
    background-color: $secondary-dm;
  }
}

.buttonSelected {
  border-color: $primary;

  color: $white;
  background-color: $primary;

  [theme-mode='dark'] & {
    border-color: $white-dm;
    color: $primary;
    background-color: $white-dm;
  }
}