@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onTabletMiddWide {
  @media (min-width: 641px) {
    @content;
  }
}

@mixin onTabletHighWide {
  @media (min-width: 871px) {
    @content;
  }
}

@mixin onTabletWide {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin pageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 1fr);
  }
}

@mixin homePageSectionMargins {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }
}

@mixin homePageSectionMargins {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }
}
