@import './variables';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mont', sans-serif;

  color: $primary;

  [theme-mode='dark'] & {
    color: $white-dm;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
