@import '../../assets/styles/mixins';

.wrapper {
  @include pageGrid;

  padding: 24px 0 64px;

  @include onTablet {
    padding-top: 32px;
  }

  @include onDesktop {
    padding: 56px 0 80px;
  }

  & div {
    height: 200px;

    background-color: green;
  }
}

.title {
  margin-bottom: 24px;

  grid-column: 1/-1;

  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -1%;

  @include onTablet {
    margin-bottom: 32px;

    font-size: 48px;
    line-height: 56px;
  }

  @include onDesktop {
    margin-bottom: 56px;
  }
}

.slider {
  grid-column: 1/-1;

  margin-left: -16px;
  margin-right: -16px;

  @include homePageSectionMargins;

  @include onTablet {
    margin-left: 0;
    margin-right: 0;
  }
}

.newModels {
  grid-column: 1/-1;

  @include homePageSectionMargins;
}

.categories {
  grid-column: 1/-1;

  @include homePageSectionMargins;
}

.hotPrices {
  grid-column: 1/-1;
}