@import '../../assets/styles/variables';

.container {
  display: inline-block;
  cursor: pointer;
}

.slider {
  width: 46px;
  height: 20px;
  background-color: $icons;
  border-radius: 12px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
}

.slider.active {
  background-color: $elements-dm;

  [theme-mode='dark'] & {
    background-color: $elements-dm;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease-in-out;
}

.slider.active .circle {
  left: 28px;
}

.sunIcon,
.moonIcon {
  font-size: 14px;
  color: $white;
  position: absolute;
}

.sunIcon {
  opacity: 1;
}

.moon-icon {
  opacity: 0;
}

.slider.active .sun-icon {
  opacity: 0;
}

.slider.active .moon-icon {
  opacity: 1;
}
